<div class="modal show" id="myModal">
  <%= loading_screen %>
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
<!--         <div class="modal-header">

      </div> -->

      <!-- Modal body -->
      <div class="modal-body">
        <div class="section-breaker">
          <div class="d-flex justify-content-center align-items-center">
            <div ><h1 class=""><%= @weather_details.current_temp%><span style='font-size:50px;'>&#176;</span></h1>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div class="current-location-temp"><%= @weather_details.user_location.city%></div>
          </div>
        </div>
        <%- fetch_avg_temp(@weather_details.weather_deatils_by_day).each do |k, v| %>
          <div class="section-breaker">

            <div class="center">
                <span class="temp">
                  <%= v["temp"]%>
                </span>
                <span style='font-size:50px;font-weight:lighter;'>&#176;</span>
                <span class="week-day">
                  <%= k %>
                </span>


            </div>
          </div>
        <% end %>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
        <%= button_to "Detail Weather", weather_dashboard_detail_weather_report_path, :id => "open-contacts-dialog-btn", :class => "btn btn-primary", :method => :get %>
      </div>
    </div>
  </div>

</div>

